@page "/"

<PageTitle>Home</PageTitle>

<h1><strong>Segundo parcial de programación aplicada I</strong></h1>
<h4>
    <strong>Nombre: </strong>Jairo Camilo Acosta 2022-0021
</h4>
<h4>
    <strong>Matricula: </strong> 2022-0021
</h4>